* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

:root { color-scheme: dark; }

img {
    max-width: min(100%, 600px);
    height: auto;
    display: block;
    background-color: hsl(0 0% 50% / 0.1);
    border-radius: 1rem;
    margin: 2rem auto;
}

article,
h1 {
    max-width: 800px;
    margin-inline: auto;
    padding: 2rem;
    background-color: hsl(0 0% 50% / 0.1);
    border-radius: 2rem;
    margin-block: 1em;
}

h1 {
    text-align: center;
}